<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $title := cond .IsHome (printf "%s | %s" site.Title site.Params.tagline) (printf "%s | %s" .Title site.Title) }}
<title>{{ $title }}</title>
<meta name="description" content="{{ .Description | default site.Params.description }}">
<meta name="theme-color" content="#1d4f4b">
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ .Description | default site.Params.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:locale" content="en_CA">
<link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&family=Newsreader:opsz,wght@6..72,500;6..72,600&display=swap">
{{ $css := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
